:host {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  text-align: center;
  color: rgb(228, 24, 58);
}

.selected {
  color: rgb(228, 24, 58);
  font-weight: 700;
}

.check-box-container {
  margin: 0 15px;
}